<ion-view title="AboutUs">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding aboutUs">
        <h3>Hey World, Lets connect to the right people</h3>
    </ion-content>
    <ion-footer-bar class="bar-calm">
        <!--<div class="buttons">
            <button class="button">Left Button</button>
        </div>-->
        <div style="text-align:center">
            <a href="https://kabranishanth.wordpress.com/">Find me</a>
        </div>
        <!--<div class="buttons" ng-click="doSomething()">
            <button class="button">Right Button</button>
        </div>-->
    </ion-footer-bar>
</ion-view>