<ion-view ng-controller="homePageCtrl" hide-nav-bar="true">
    <ion-content style="background: url(./img/Home.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content hero slide-up">
                <!--<div class="app-icon"></div>-->
                <h2>CheckOut</h2>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" ng-model="loginData.username" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" ng-model="loginData.password" type="password"></ion-md-input>
        </div>
        <label class="item">
            <button class="button button-block button-positive" ng-click="login(loginData)">Login</button>
        </label>
        <!--<label class="item">
            <button class="button button-block button-positive" ng-click="goRegister()">Sign Up</button>
        </label>-->
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ng-click="googleLogin()">Google+</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="facebookLogin()">Facebook</button>
        </div>
    </ion-content>
</ion-view>
