<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        <!--<ion-nav-buttons side="right">
            <button menu-toggle="right" class="button button-icon icon ion-navicon"> RightMenu</button>
        </ion-nav-buttons>-->
    </ion-side-menu-content>
    <!--Left Menu-->
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Left</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref-active="active" href="#/app/accordion">
                    Edit Profile
                </ion-item>
                <!--<ion-item nav-clear menu-close ui-sref-active="active" href="#/app/register">
                    Register
                </ion-item>
                <ion-item nav-clear menu-close ui-sref-active="active" href="#/app/login">
                    Login
                </ion-item>-->
                <!--<ion-item nav-clear menu-close ui-sref-active="active" href="#/app/editProfile">
                    Edit Profile
                </ion-item>
                <ion-item nav-clear menu-close ui-sref-active="active" href="#/app/createUser" >
                    Create User
                </ion-item>-->
                <ion-item nav-clear menu-close ui-sref-active="active" href="#/app/users" >
                    Users
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/picture">
                    Picture
                </ion-item>
                <!--<ion-item nav-clear menu-close href="#/app/status"> -->
                    <ion-item nav-clear menu-close >
                        Status
                    </ion-item>
                <!--<ion-item nav-clear menu-close href="#/app/geoLocation">
                    GeoLocation
                </ion-item>-->
                <ion-item nav-clear menu-close href="#/app/aboutUs">
                    AboutUs
                </ion-item>
                <!--<ion-item nav-clear menu-close href="#/app/error">
                    Internet
                </ion-item>-->
                <ion-item nav-clear menu-close href="#/app/logout">
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <!--Right Menu-->
    <!--<ion-side-menu side="right">
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ng-click="login()">
                    Login
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/playlists">
                    Friends
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/editProfile">
                    Edit Profile
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/aboutUs">
                    AboutUs
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>-->

</ion-side-menus>

<!--<ion-tabs class="tabs-icon-top">
    <!-- Dashboard Tab -->
<!--<ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
<!--</ion-tab>-->
<!--</ion-tabs> -->
