<ion-view title="Camera" ng-controller="pictureCtrl">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div class="row">
            <!--<div class="col">
                <button class="button button-dark" ng-click="takePicture()">Take Photo</button>
            </div>
            <br/>
            <div class="col">
                <button class="button button-dark" ng-click="selectPicture()">Upload Photo</button>
            </div>
            <br />-->

            <div class="col">
                <button class="button button-dark" ng-click="savePicture()">Save Photo</button>
            </div>
            <br />

            <div class="col">
                <button class="button button-dark" ng-click="getPicture()">Get Photo</button>
            </div>
            <br />

            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
        </div>
        <div class="card">
            <div class="item item-image">
                <img ng-src="data:image/jpeg;base64,{{imgSrc}} " alt="Your Photo" />
            </div>
        </div>
        <!--<div class="card">
            <div class="item item-image">
                <img src="data:image/png;base64,{{imageFromDb}}" alt="Your Photo" />
            </div>
        </div>-->
    </ion-content>
</ion-view>
