<ion-view title="Education" ng-controller="userProfileCtrl">
    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>-->
    <ion-content class="has-header">
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">School</span>
                    <span class="ïnput-label">{{userDetails.profile.education.school}}</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">UnderGraduation</span>
                    <span class="ïnput-label">{{userDetails.profile.education.underGraduation}}</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Graduation</span>
                    <span class="ïnput-label">{{userDetails.profile.education.graduation}}</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">PostGraduation</span>
                    <span class="ïnput-label">{{userDetails.profile.education.postGraduation}}</span>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
