/* Empty. Add your own CSS if you like */
#titleHomePage {
    background-color: black;
}

.aboutUs {
    background: url(../img/NK.JPG);
    /*background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;*/
}
.home {
    background: url(../img/NK.JPG);
}